.appContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__boxContainer {
    width: 280px;
    min-height: 575px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(15, 15, 15, 0.28);
    position: relative;
    overflow: hidden;

    @media (min-width: 400px) {
      width: 400px;
    }

    &__topContainer {
      width: 100%;
      height: 250px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 1.8em;
      padding-bottom: 8.5em;

      @media (min-width: 400px) {
        margin-top: -5px;
        padding-bottom: 10em;
      }

      &__backDrop {
        z-index: 5;
        width: 168%;
        height: 500px;
        position: absolute;
        display: flex;
        flex-direction: column;
        border-radius: 50%;
        transform: rotate(60deg);
        top: -275px;
        left: -70px;
        background: linear-gradient(90deg, #9389bd 0%, #5e4d9b 100%);

        @media (min-width: 400px) {
          width: 139%;
          transform: rotate(20deg);
          margin-left: -10px;
          top: -290px;
        }
      }

      &__headerContainer {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__headerText {
          direction: rtl;
          font-size: 36px;
          color: #fff;
          z-index: 10;
          margin: 0;
          text-align: center;

          &__link {
            text-decoration: none;
            color: #fff;
          }
        }

        &__bigText {
          direction: rtl;
          color: #fff;
          font-weight: 500;
          font-size: 24px;
          z-index: 10;
          margin: 0;
          margin-top: 7px;
        }

        &__smallText {
          direction: rtl;
          color: #fff;
          font-weight: 500;
          font-size: 15px;
          z-index: 10;
          margin: 0;
          margin-top: 7px;
        }
      }
    }

    &__innerContainer {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 2rem 1.8em;
    }
  }
}
