.SimilarItem {
  padding: 3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-left: 1px solid black;
  border: 1px solid #e0e0e2;
  border-radius: 1rem;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  }

  &__pic {
    height: 15rem;
    width: 15rem;
    // align-self: center;
  }
  &__name {
    // padding: 0 5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-height: 2.1; /* fallback */
    max-height: 2.1 * 2; /* fallback */
    font-size: 1.4rem;
    font-weight: 600;
  }
  &__price {
    font-size: 1.6rem;
    font-weight: 600;
    align-self: end;
  }
  &__priceOff {
    margin-top: -2rem;
    margin-left: 4.5rem;
    color: #c0c2c5;
    font-size: 1.6rem;
    font-weight: 600;
    align-self: end;
    text-decoration: line-through;
  }
}
