.sidebar {
  margin: 3rem;

  background-color: #fff;
  flex: 0 0 19%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 30px;
}
.seller-info {
  margin-top: 2rem;
  padding: 2rem 3rem;
  display: flex;
  color: #343a40;
  &__icon {
    font-size: 2rem;
  }
  &__description {
    padding-right: 1.5rem;
    font-size: 1.6rem;
  }
  &__title {
    margin-bottom: 1rem;
  }
}
.side-nav {
  list-style: none;
  margin-top: 2rem;

  &__item {
    padding-left: 2rem;
    padding-right: 2rem;
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
  &__icon {
    color: #6667ab;
    margin-left: 1rem;
  }
  &__link:link,
  &__link:visited {
    font-size: 1.6rem;
    white-space: nowrap;
    color: #343a40;
    text-decoration: none;
    text-transform: none;
    display: block;
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    transition: all ease-out 0.5s;

    display: flex;
    align-items: center;
    &:hover {
      background-color: #f1f3f5;
      color: #6667ab;
      border-radius: 16px;
    }
  }
  &__submenu {
    list-style: none;
    position: static;
    display: none;

    &--show {
      display: block;
      list-style: none;
    }

    &__item {
      text-decoration: none;
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
    &__link:link,
    &__link:visited {
      position: relative;
      font-size: 1.4rem;
      text-decoration: none;
      margin-right: 5rem;
      padding: 1rem;
      color: #343a40;
      display: block;

      &:hover {
        background-color: #f1f3f5;
        color: #6667ab;
        border-radius: 10px;
      }
    }
  }
}

.icon {
  margin-right: 1rem;
  color: #343a40;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
.side-nav__link:hover .icon {
  transform: translateY(-50%) rotate(-180deg);
}
.userImage {
  height: 6rem;
}

.link {
  text-decoration: none;
}
