.Products {
  /* display: flex; */
  /* flex-direction: row;
  align-items: stretch; */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 2rem;
  &__itemContainer {
    grid-column: 2 / span 4;
    // padding: 2rem;
    /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
    display: grid;
    /* gap: 1rem; */
    grid-template-columns: repeat(4, 1fr);
    align-items: start;
    // grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
    /* grid-template-row: repeat(auto-fill, minmax(40rem, 1fr)); */
    /* background-color: black; */
    border: 1px solid #e0e0e2;
    border-radius: 1rem;
    overflow: hidden;
    @media (max-width: 80em) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 68em) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 50em) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__filterContainer {
    grid-row: 1;
    grid-column: 1 / span 1;
    position: sticky;
    min-height: 75vh;
    width: 17vw;
    // width: 15rem;
    // height: 15rem;
    // background-color: black;
    padding: 3rem 2.5rem;
    border: 1px solid #e0e0e2;
    border-radius: 1rem;
    margin-left: 1rem;
    @media (max-width: 80em) {
      width: 20vw;
    }
    @media (max-width: 68em) {
      width: 30vw;
    }
    @media (max-width: 50em) {
      width: 45vw;
    }
  }
}

.link {
  text-decoration: none;
}
