.Question {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    // border-bottom: 1px solid lightgray;
    // padding: 0 5rem;

    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 50%;
      padding-bottom: 2rem;
      border-bottom: 1px solid lightgray;
    }
  }

  &__img {
    width: 20rem;
    height: 25rem;
  }
}
