.header {
  padding: 2rem 3rem;
  margin: 2rem;
  border: 1px solid #e0e0e2;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    color: #6667ab;
    margin-bottom: 2rem;
    font-size: 4rem;
  }
  &__container {
    margin: 1rem;
  }
  &__item {
    font-size: 3rem;
    margin-left: 2rem;
    &--active {
      color: #6667ab;
    }
  }
}

.Payment {
  margin: 2rem;
  // height: 40vh;

  &__type {
    border: 1px solid #e0e0e2;
    border-radius: 1rem;
  }
  &__header {
    font-size: 2rem;
    margin: 2rem;
  }

  &__radioButtons {
    margin-right: 2rem;
    margin-bottom: 2rem;
  }
  &__off {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding: 2rem 3rem;
    padding-left: 20rem;
    border: 1px solid #e0e0e2;
    border-radius: 1rem;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }
}

.right {
  flex-grow: 1;
  margin-left: 2rem;
}
.left {
  // margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #e0e0e2;
  border-radius: 1rem;
  padding: 2rem 3rem;
  font-size: 1.6rem;
  width: 35rem;
  &__submitbtn {
    margin-left: 2rem;
  }
  &__items {
    padding: 2rem;
    border-bottom: 1px solid #e0e0e2;
    display: flex;
    justify-content: space-between;
  }
  &__price {
  }
}

.balance {
  margin-right: 6rem;
  font-size: 1.2rem;
  color: #adb5bd;
}
