.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 2rem 3rem;
  // text-align: center;
  width: 50rem;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  gap: 3rem;

  &__header {
    font-size: 1.8rem;
    border-bottom: 1px solid #e0e0e2;
    padding-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;

    &__title {
      font-size: 1.8rem;
    }

    &__icon {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      color: #424750;

      &:hover {
        color: #686c73;
      }
    }
  }

  &__inputWrapper {
    position: relative;

    &__input {
      font-family: inherit;
      direction: rtl;
      width: 100%;
      height: 4.5rem;
      outline: none;
      border: 1px solid #c0c2c5;
      padding: 0px 10px;
      transition: all 200ms ease-in-out;
      font-size: 14px;
      border-radius: 10px;
      // box-shadow: 1px 1px 1px rgba(15, 15, 15, 0.2);

      &::placeholder {
        color: rgb(111, 114, 133);
      }

      &:not(:last-of-type) {
        border-bottom: 1.5px solid rgba(200, 200, 200, 0.4);
      }

      &:focus {
        outline: none;
        // border-bottom: 1px solid #5e4d9b;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
          rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
      }
    }

    &__icon {
      position: absolute;
      top: 30%;
      left: 5%;
      font-size: 1.6rem;
      &:hover {
        color: #5e4d9b;
        cursor: pointer;
      }
    }
  }

  &__btn {
    padding: 11px 40%;
    color: #fff;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: #5e4d9b;

    &:hover {
      filter: brightness(1.03);
    }
  }

  &__btn__disable {
    padding: 11px 40%;
    color: #fff;
    font-size: 14px;
    font-family: inherit;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    background: #dfdceb;
  }
}
