.container {
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: #fff;
  border-radius: 3rem;

  &__headerContainer {
    grid-column: 1 / span 2;
    border-bottom: 1px solid #e0e0e2;

    &__header {
      position: relative;
      display: inline-block;
      padding-right: 1rem;
      padding-left: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.3rem solid #6667ab;
    }

    &__text {
      color: #6667ab;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
}

.QuestionContainer {
  &__Question {
    padding: 3.5rem 3rem 2rem 3rem;

    &__iconContainer {
      display: flex;
      align-items: start;
      gap: 1rem;
    }
    &__icon {
      display: flex;
      font-size: 2rem;
      color: #5e4d9b;
      margin-top: 0.5rem;
    }
  }

  &__footer {
    height: 60px;
    padding: 4rem 5rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }

  &__btn {
    height: 4rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #c46fb2;
    border: 1px solid #c46fb2;
    line-height: 10px;
    &:hover {
      background: #7b337d;
      border: 1px solid #7b337d;
    }
  }

  &__btn__disable {
    height: 4rem;
    padding: 1.5rem 3rem;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    line-height: 10px;
    background: #dfdceb;
  }
}
