.Survey {
  //   &__absolute {
  //     position: relative;
  //   }
  &__container {
    min-width: 55rem;
    // height: ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media (max-width: 40em) {
      min-width: 36rem;
    }

    &__headerContainer {
      grid-column: 1 / span 2;
      border-bottom: 1px solid #e0e0e2;

      &__header {
        position: relative;
        display: inline-block;
        padding-right: 1rem;
        padding-left: 1.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 0.3rem solid #6667ab;
      }

      &__text {
        color: #6667ab;
        font-size: 1.8rem;
        font-weight: 600;
      }
    }
  }
  &__header {
    background: linear-gradient(90deg, #9389bd 0%, #5e4d9b 100%);
    background: linear-gradient(90deg, #5e4d9b 0%, #9389bd 100%);
    background-color: #9389bd;
    background: #5e4d9b;
    color: white;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 1.5rem 3rem;
    text-align: center;
  }
  &__Question {
    padding: 2.5rem 3rem 2rem 3rem;
    // width: max-content;
    // height: max-content;
  }
  &__footer {
    height: 60px;
    padding: 1.5rem 3rem;
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  &__btn {
    height: 40px;
    padding: 0 13px;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #c46fb2;
    border: 1px solid #c46fb2;
    line-height: 10px;
    &:hover {
      background: #7b337d;
      border: 1px solid #7b337d;
    }
  }
  &__step {
    font-size: 1.8rem;
  }
}
