.ProductTags {
  &__container {
  }
  &__title {
    font-size: 1.7rem;
    margin-bottom: 1.6rem;
  }
  &__checkbox {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  &__options {
    display: flex;
    justify-content: space-around;
  }

  &__label {
    font-size: 1.5rem;

    padding: 0.5rem 3.7rem;
    background-color: #d0bfff;
    cursor: pointer;
    border: 1px solid blueviolet;

    border-radius: 0.5rem;
  }
  &__checkbox:checked + &__label {
    background-color: #9775fa;
    border-color: #b197fc;
  }

  &__question {
    padding: 2rem;
  }
}
