.header {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  background-color: white;
  padding: 5% 5%;
  border-bottom: 2px solid #6667ab;
  &__icon {
    margin-right: 1rem;
  }
  &__button {
    margin-left: 1rem;
  }

  &__login_logo {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  &__link {
    text-decoration: none;
  }
}

.content {
  max-width: 1360px;

  .container {
    display: flex;
    justify-content: space-between;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) 0 6px 20px rgba(0, 0, 0, 0.19);
    .logo {
      font-size: 3rem;
      color: #6667ab;
      font-weight: bold;
      margin-left: 40px;
      // padding-left: 70px;
      cursor: pointer;
    }
    .search {
      flex: 0 0 30%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      margin-left: auto;

      //   // @media only screen and (max-width: $bp-smallest) {
      //   //   order: 1;
      //   //   flex: 0 0 100%;
      //   //   background-color: var(--color-grey-light-2);
      //   // }

      &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: #f4f2f2;
        padding: 0.7rem 1rem;
        border: none;
        border-radius: 40px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.25rem;
        margin-top: 6px;

        &:focus {
          outline: none;
          width: 100%;
          background-color: #f4f2f2;
        }

        //     // &::-webkit-input-placeholder {
        //     //   font-weight: 100;
        //     //   color: var(--color-grey-light-4);
        //     // }
        //   }
      }
      &___input:focus + &__button {
        background-color: #f4f2f2;
      }
      &__button {
        border: none;
        background-color: #f4f2f2;
        margin-right: -3rem;
        margin-top: 1rem;

        &:focus {
          outline: none;
        }

        &:active {
          transform: translateY(2px);
        }
      }

      &__icon {
        height: 2rem;
        width: 2rem;
        fill: #333;
      }
    }
  }

  .Navigation {
    &--list {
      color: #6667ab;
      list-style: none;
      margin-left: 80%;
      padding: 0;
      padding-top: 2rem;
      display: flex;
      align-items: baseline;
      font-size: 1.5rem;
    }
    &--item {
      margin-left: 3rem;
      padding: 0 10px;
      white-space: nowrap;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        background-color: #6667ab;
        height: 3px;
        width: 0;
        right: 0;
        bottom: -10px;
        transition: 0.5s;
      }
      &:hover:after {
        width: 100%;
      }
    }
  }
}

.link:link,
.link:visited {
  text-decoration: none;
  color: #6667ab;
}
// .header {
//   width: 100%;
//   height: 7rem;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   /* align-items: center; */
//   background-color: white;
//   padding: 0 5%;
// }

// .header ul {
//   color: #6667ab;
//   list-style: none;
//   margin-left: 80%;
//   padding: 0;
//   padding-top: 1rem;
//   display: flex;
//   align-items: baseline;
// }

// .header li {
//   margin-left: 3rem;
//   padding: 0.5rem 1rem;
//   white-space: nowrap;
// }

// .header li:hover {
//   background-color: #6667ab;
//   color: white;
//   border-radius: 4px;
//   transition: all 0.2s ease-out;
// }
