.container {
  margin: 3rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  flex: 1;

  background-color: #fff;
  border-radius: 3rem;

  &__headerContainer {
    grid-column: 1 / span 2;
    border-bottom: 1px solid #e0e0e2;

    &__header {
      position: relative;
      display: inline-block;
      padding-right: 1rem;
      padding-left: 1.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 0.3rem solid #6667ab;
    }

    &__text {
      color: #6667ab;
      font-size: 1.8rem;
      font-weight: 600;
    }
  }
  &__gifts {
    margin: 2rem;
    font-size: 1.6rem;
    &--box {
      border: 1px solid #e0e0e2;
      border-radius: 1rem;
      padding: 2rem 3rem;
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      &-icon {
        padding-left: 1rem;
      }
      &-btn{
        
      }
      &-header {
        // border-bottom: 1px solid #e0e0e2;
      }
    }
  }

  &__score{
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}

.offCode__container{
  padding: 1rem;
  margin: 2rem;
  border: 1px solid #e0e0e2;
}