.HeroSection {
  height: 85vh;
  // clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  background-color: #d8d7f7;
  &__content {
    max-width: 1360px;
    padding: 10% 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20rem;
    &--header {
      font-size: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
    &--button {
    }
  }

  &__gallery {
    position: relative;
    flex: 1;
    margin-bottom: 5rem;
    &__photo {
      width: 45%;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.4);
      border-radius: 2px;
      position: absolute;
      z-index: 10;
      transition: all 0.2s;
      outline-offset: 2rem;
      &--p1 {
        top: -2rem;
        left: 4rem;
      }

      &--p2 {
        top: 1.5rem;
        right: 0;
      }

      &--p3 {
        top: 10rem;
        left: 20%;
      }
      &:hover {
        outline: 1rem solid #6667ab;
        transform: scale(1.05) translateY(-0.5rem);
        box-shadow: 0 2.5rem 4rem rgba(#000, 0.5);
        z-index: 20;
      }
    }
  }
}
