@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300&display=swap");

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;

  @media (max-width: 45em) {
    font-size: 56.25%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Vazirmatn", "Open Sans", sans-serif;
  margin: 0;
  // background-color: #fcf3f6;
  direction: rtl;
}
button {
  font-family: inherit;
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
